{% extends 'base.html' %}

{% block content %}

    {% for blog_post in list_of_blog_posts %}
        <div class="shadow p-3 mb-5 bg-body rounded">
            <h2>{{blog_post.title | capitalize}}</h2>
            By: {{blog_post.author}} <br>
            <strong>Date Added</strong>: {{blog_post.date_added}} <br><br>
<!--            {{blog_post.content}}-->

            <a href="{{url_for('view_post', id=blog_post.id)}}" class="btn btn-outline-secondary">View Post</a>
        </div>
    {% endfor %}

{% endblock %}